<style>

@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
  background-color:SALMON;
}

h1 {
  color:OLIVE;
  text-align: center;
  font-family: 'Manjari', sans-serif;
}

h2 {
  color: PURPLE;
  text-align: left;
}

p {
  font-size: 20px;
}
img{
	width :400px;
	height: 400px
} 
</style>